<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalprojectandroid1">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.LOADER_USAGE_STATS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Kid Control"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProjectAndroid1">
        <activity android:name=".activitys.ChildActivity"></activity>
        <activity android:name=".activitys.MainActivity" />
        <activity android:name=".activitys.RegisterActivity" />
        <activity android:name=".activitys.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyApfDg7pD47RdvmjAOLmSGlZTAE5vKVZBw" />
        <meta-data
            android:name="com.google.android.geo.version"
            android:value="@integer/google_play_services_version" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>

        <service android:name=".activitys.UserService"/>
    </application>

</manifest>